.chat-main
  .main-header
    .main-header__left-box
      .main-header__left-box__current-group test
      %ul.main-header__left-box__member-list 
        Member:
        %li.main-header__left-box__member-list__member
          = current_user.name
    =link_to "groups/edit"do
      %p.main-header__edit-btn Edit

  .messages
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__text', placeholder: 'type a message'
      .form__image
        = f.label :image, class: 'form__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'form__image__file'
      = f.submit 'Send', class: 'submit__btn'